Source: ronin
Section: unknown
Priority: optional
Maintainer: Phoxygen <tech@phoxygen.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/Phoxygen/Ronin
Vcs-Git: https://github.com/Phoxygen/Ronin.git

Package: ronin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Boot 2 Gecko which is the technical name of Firefox OS (http://www.mozilla.org/en-US/firefox/os/) is a web based operating system .The project’s architecture eliminates the need for apps to be
  built on platform-specific native APIs which we commonly see in Devices. The OS extensibly uses HTML5, its apps are tailored for HTML5 and build using
  them.Developers has their freedom to do anything with their apps and can creates designs using the HTML5 technologies.While the deviceAPIs that are
  currently available are opensourced. The Current B2G nightly version is 2.6 and this package uses the nightly b2g version.
  As with all Mozilla projects, the Boot to Gecko project is based entirely on
  open standards and the source code is open and accessible to all. WebAPIs to use most of the hardware of devices is being made and we are working with bodies to create APIs which are not yet available.
  .
  
